body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/fundo.jpg);
    background-color: black;
    font-family: Arial, sans-serif;
}
.calculadora {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    height: 500px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#visor{
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.botoes {
    /* display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    display: flex;
    flex-wrap: wrap;       
    min-width: 33.3%;
    gap: 10px;
}
.botoes button {
    flex: 1 0 calc(25% - 10px);
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    background: #e0e0e0;
}

button.operador {
    background-color: #ff9500;
    color: white;
}
button.limpar {
    background-color: #ff3b30;
    color: white;
}
